
.treeview-wrapper {
    position: absolute;
    width: 90%;
    height: auto;
    box-sizing: border-box;

    top: 130px;
    left: 50px;
}

/* .accordion-catNode-item {
    position: relative;
    display: flex;
    padding: 6px;
    justify-content: space-between;
} */

/* .accordion-catNode-item:hover {
    background-color: #4F4E83;
    color: white;
    border-radius: 10px;
} */

.inline-catNode {
    position: relative;
    display: inline-flex;
    margin: 0.3rem 5px;
}

.MuiTreeItem-label {
    margin: 1rem;
}