
.popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(216, 216, 216, 0.5);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-box{
    position: absolute;
    padding: 0px 10px;
    width: 100%;
    height: 25rem;
    max-width: 640px;
    background-color: white;
    
    border-radius: 15px;
}

.popup-box .save-btn{
    position: absolute;
    background-color: #30CF50;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    
    color: white;
    right: 2rem;
    bottom: 2rem;
    
    font-size: 17px;
}

.popup-box .cancel-btn{
    position: absolute;
    background-color: #F44336;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    
    color: white;
    right: 7rem;
    bottom: 2rem;

    font-size: 17px;
}

.popup-box .nav-question {
    width: 102.8%;
    height: 3rem;
    background-color: #9A3CF6;

    padding: 1px;
    margin-left: -10px;

    border-radius: 15px 15px 0px 0px;
}

.question{
    color: white;
    text-align: center;

    margin-top: 10px;
}