
.searchInputs {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.searchInputs input {
    background-color: white;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
    height: 10px;
    width: 500px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.search svg {
    font-size: 35px;
}

.dataResult {
    margin-top: 5px;
    width: 30%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p { 
    margin-left: 10px;
}
div {
    text-decoration: none;
}

.dataItem:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}


.navbar-wrapper .std-info > ul {
    display: flex;
    align-items: center;
}

.navbar-wrapper .std-info ul li {
    right: 10px;
    margin-left: 18px;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.std-info .std-heriLine {
    content: '';
    border-left: 2px solid;
    border-top: 40px solid;
}

.std-name > ul {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.std-name-act > ul {
    display: flex;
    padding: 10px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    background: #49306e;
    border-radius: 10px;
}

.std-name:hover {
    background: #49306e;
    border-radius: 10px;  
    color: #fff;
}

.dd-menu {
    position: absolute;
    top: 62px;
    right: -3px;
    display: flex;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.dd-menu .dd-left {
    background: #674B91;
    padding: 15px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.dd-menu .dd-right {
    background: #fff;
    padding: 15px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.dd-menu .dd-left li{
    color: #fff;
}

.dd-menu .dd-right ul > li {
    color: #504f4f;
}

.navbar-wrapper .dd-menu::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 30px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.dd-menu:hover .dd-left {
    background: #49306e;
}

.dd-menu:hover .dd-right {
    background: #d8d8d8
}

.triangle-dd-act {
    display: inline-flex;
    content: '';
    margin-left: 10px;
    border: 7px solid;
    border-color: transparent #fff #fff transparent;
    transform: 0.4s;
}

.triangle-dd {
    display: inline-flex;
    content: '';
    margin-left: 10px;
    border: 7px solid;
    border-color: #fff transparent transparent transparent;
    transform: 0.4s; 
}