
.Checkbox {
    position: fixed;
    margin: 20px;

    top: 9%;
}

.Checkbox-item {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.completed {
    padding: 5px;
    color: green;
}

.inprocess {
    padding-left: 5px;
    color: #dd7800;
}

.pending {
    padding-left: 5px;
    color: black;
}