.accordion-courseList{
	position: relative;
	display: block;
	width: 95%;
	height: auto;
	justify-content: space-between;

	left: 20px;

}

.accordion-courseList-item {
	position: relative;
    display: flex;
	padding: 10px;
    justify-content: space-between;
}

.accordion-courseList-item:hover {
	background-color: aqua;
	border-radius: 10px
}

.inline-courseList {
	position: relative;
	display: inline-flex;
}