.accordion-course {
	position: relative;
    display: block;
    width: 95%;
    height: auto;
    /* justify-content: space-between; */
    
    left: 40px;
}

.accordion-course-item {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.accordion-course-item:hover {
    background-color: orange;
    border-radius: 10px;
}

.inline-course {
    position: relative;
    display: inline;
}